:host {
  width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: rgb(60, 60, 60);
  font-size: larger;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  font-size: large;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
